@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Nica-Devs</h1>
    <p class="lead">Es una empresa que desarrolla soluciones a grandes problemas del manejo empresarial.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>¿Cual es el problema?</h2>
        <p>
            Toda empresa posee un sin numeros de perdidas que suelen ser causadas por un control deficiente de los recursos
            tales como mano de obra, tiempo de descacanzo, inventario entres muchas otras
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>¿Como solucionan?</h2>
        <p>Ofresemos herramientas que dismunuyen significativamente las perdidas causadas por un control deficiente</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>¿Cuanto Cuesta?</h2>
        <p>Los precios varian de acuerdo a la complejidad y el tiempo requerido para dar solucion.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>